<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>屎</string>
	<string>屎</string>
	<string>屎</string>
	<string>屎</string>
	<string>屎</string>
	<string>屎</string>
	<string>屎</string>
	<string>屎</string>
	<string>不吃了！</string>
	<string>不吃了！</string>
	<string>不吃了！</string>
	<string>不吃了！</string>
	<string>不吃了！</string>
	<string>不吃了！</string>
	<string>不吃了！</string>
	<string>不吃了！</string>
	<string>黄焖鸡</string>
	<string>炒面</string>
	<string>拉面</string>
	<string>热干面</string>
	<string>馄饨</string>
	<string>凉皮儿</string>
	<string>炸鸡</string>
	<string>肯德基</string>
	<string>刀削面</string>
	<string>肉夹馍</string>
	<string>米线</string>
	<string>杂酱面</string>
	<string>烤肉</string>
	<string>烤冷面</string>
	<string>烤鸭</string>
	<string>火锅</string>
	<string>川菜</string>
	<string>驴肉火烧</string>
	<string>油泼面</string>
	<string>泡面</string>
	<string>烩面</string>
	<string>螺蛳粉</string>
	<string>麻辣烫</string>
	<string>饺子</string>
	<string>盖饭</string>
	<string>撸串</string>
	<string>羊蝎子</string>
	<string>小龙虾</string>
	<string>海鲜</string>
	<string>炒饭</string>
	<string>炒饼</string>
	<string>羊蝎子</string>
	<string>土豆粉</string>
	<string>大饼卷肉</string>
	<string>烤鱼</string>
	<string>大盘鸡</string>
	<string>打卤面</string>
	<string>卤肉饭</string>
	<string>沙县</string>
	<string>包子</string>
	<string>馒头</string>
	<string>面包</string>
	<string>饼干</string>
	<string>羊肉汤</string>
	<string>披萨</string>
	<string>麦当劳</string>
	<string>德克士</string>
	<string>手抓饼</string>
	<string>烤全羊</string>
	<string>大腰子</string>
	<string>油泼面</string>
	<string>米粉</string>
	<string>鸭血粉丝汤</string>
</array>
</plist>
